.container {
	background-color: black; /* Replace with specific theme color if needed */
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	position: relative;
	gap: 1.5rem;
	overflow: hidden;
}

.stories-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center; /* center or start */
	transition: 1s ease;
	background: red;
}

.story {
	display: inline-block;
	height: 48vh;
	position: absolute;
	/* width: auto; */
	left: calc(50%);
	transform: translate(-50%, 0);
	transform-origin: center;
	/* width: 100%; */
	aspect-ratio: 9 / 16;
	background-position: 50% 50%;
	background-size: cover;
	transition: 0.3s ease-in-out;
	border: 1px solid white;
	border-radius: 10px;
}

.story .img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.btn-container {
	width: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	background: lightpink;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	z-index: 4;
}
